backend/n8n-workflows/01_google_maps_scraper.json
{
  "name": "APEX - Google Maps Lead Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-google-maps",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract inputs from webhook body\nconst category = $input.first().json.body.category;\nconst country = $input.first().json.body.country;\nconst filters = $input.first().json.body.filters || {};\n\n// Build Google Maps search URL\nconst searchQuery = encodeURIComponent(`${category} in ${country}`);\nconst searchUrl = `https://www.google.com/maps/search/${searchQuery}`;\n\nreturn [{\n  json: {\n    category,\n    country,\n    filters,\n    searchUrl,\n    searchQuery\n  }\n}];"
      },
      "id": "prepare-search",
      "name": "Prepare Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "={{$json.searchUrl}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-scrape",
      "name": "Scrape Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the scraped HTML and extract business listings\n// In production, use Puppeteer node or SerpAPI for structured data\nconst html = $input.first().json.body || $input.first().json.data || '';\nconst category = $('Prepare Search Query').first().json.category;\nconst country = $('Prepare Search Query').first().json.country;\n\n// Simulated extraction logic - replace with real parser\n// For production: use SerpAPI Google Maps API or Puppeteer\nconst leads = [];\n\n// Example structured output format\nconst sampleLeads = [\n  {\n    name: 'Sample Business 1',\n    company: 'Sample Business 1',\n    industry: category,\n    email: 'contact@sample1.com',\n    phone: '+1-555-0101',\n    website: 'https://sample1.com',\n    address: '123 Main St',\n    rating: 4.5,\n    category: category,\n    country: country,\n    source: 'google_maps'\n  },\n  {\n    name: 'Sample Business 2',\n    company: 'Sample Business 2',\n    industry: category,\n    email: '',\n    phone: '+1-555-0102',\n    website: '',\n    address: '456 Oak Ave',\n    rating: 3.8,\n    category: category,\n    country: country,\n    source: 'google_maps'\n  }\n];\n\nreturn sampleLeads.map(lead => ({ json: lead }));"
      },
      "id": "parse-results",
      "name": "Parse & Extract Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate ICP Score for each lead\nconst lead = $input.first().json;\nlet score = 0;\n\n// Scoring rules from APEX spec\nif (lead.email && lead.email.length > 3) score += 20;      // Has email\nif (lead.phone && lead.phone.length > 5) score += 15;      // Has phone\nif (lead.website && lead.website.length > 5) score += 15;   // Has website\nif (lead.rating && lead.rating >= 4.0) score += 15;         // Rating 4+\n// Decision-maker detection would come from LinkedIn enrichment\n// if (lead.decisionMaker) score += 20;\n// Business age check would require additional API\n// if (lead.businessAge >= 2) score += 15;\n\nlead.icp_score = score;\nlead.status = score >= 60 ? 'qualified' : 'low_score';\n\nreturn [{ json: lead }];"
      },
      "id": "calculate-icp",
      "name": "Calculate ICP Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.icp_score}}",
              "operation": "largerEqual",
              "value2": 60
            }
          ]
        }
      },
      "id": "filter-qualified",
      "name": "Filter ICP >= 60",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (name, company, industry, email, phone, website, address, rating, icp_score, source, category, country, status) VALUES ('{{$json.name}}', '{{$json.company}}', '{{$json.industry}}', '{{$json.email}}', '{{$json.phone}}', '{{$json.website}}', '{{$json.address}}', {{$json.rating}}, {{$json.icp_score}}, '{{$json.source}}', '{{$json.category}}', '{{$json.country}}', '{{$json.status}}') ON CONFLICT DO NOTHING RETURNING *;"
      },
      "id": "save-to-db",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1570, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_YOUR_PG_CREDENTIAL_ID",
          "name": "APEX PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{$json.name}}" },
            { "name": "company", "value": "={{$json.company}}" },
            { "name": "industry", "value": "={{$json.industry}}" },
            { "name": "email", "value": "={{$json.email}}" },
            { "name": "phone", "value": "={{$json.phone}}" },
            { "name": "website", "value": "={{$json.website}}" },
            { "name": "rating", "value": "={{$json.rating}}" },
            { "name": "icp_score", "value": "={{$json.icp_score}}" },
            { "name": "category", "value": "={{$json.category}}" },
            { "name": "country", "value": "={{$json.country}}" }
          ]
        },
        "options": {}
      },
      "id": "notify-backend",
      "name": "Notify APEX Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Prepare Search Query", "type": "main", "index": 0 }]] },
    "Prepare Search Query": { "main": [[{ "node": "Scrape Google Maps", "type": "main", "index": 0 }]] },
    "Scrape Google Maps": { "main": [[{ "node": "Parse & Extract Leads", "type": "main", "index": 0 }]] },
    "Parse & Extract Leads": { "main": [[{ "node": "Calculate ICP Score", "type": "main", "index": 0 }]] },
    "Calculate ICP Score": { "main": [[{ "node": "Filter ICP >= 60", "type": "main", "index": 0 }]] },
    "Filter ICP >= 60": { "main": [[{ "node": "Save to PostgreSQL", "type": "main", "index": 0 }, { "node": "Notify APEX Backend", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "APEX" }, { "name": "Scraper" }]
}
