backend/n8n-workflows/02_linkedin_scraper.json
{
    "name": "APEX - LinkedIn Lead Scraper",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "scrape-linkedin",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract inputs\nconst category = $input.first().json.body.category;\nconst country = $input.first().json.body.country;\nconst companyName = $input.first().json.body.companyName || '';\n\n// LinkedIn public search URL (for parsing)\nconst searchQuery = encodeURIComponent(`${category} ${companyName} ${country}`);\n\nreturn [{\n  json: {\n    category,\n    country,\n    companyName,\n    searchQuery\n  }\n}];"
            },
            "id": "prepare-search",
            "name": "Prepare LinkedIn Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// LinkedIn scraping simulation\n// In production: use Phantombuster, Apify, or LinkedIn API\nconst category = $input.first().json.category;\nconst country = $input.first().json.country;\n\nconst linkedinLeads = [\n  {\n    name: 'John Smith',\n    title: 'CEO',\n    company: 'Sample Corp',\n    industry: category,\n    location: country,\n    website: 'https://samplecorp.com',\n    companySize: '50-200',\n    email: '',\n    phone: '',\n    source: 'linkedin',\n    category: category,\n    country: country,\n    isDecisionMaker: true\n  },\n  {\n    name: 'Sarah Johnson',\n    title: 'Marketing Director',\n    company: 'Growth Agency',\n    industry: category,\n    location: country,\n    website: 'https://growthagency.com',\n    companySize: '10-50',\n    email: 'sarah@growthagency.com',\n    phone: '',\n    source: 'linkedin',\n    category: category,\n    country: country,\n    isDecisionMaker: true\n  }\n];\n\nreturn linkedinLeads.map(lead => ({ json: lead }));"
            },
            "id": "scrape-linkedin",
            "name": "Scrape LinkedIn Profiles",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Calculate ICP Score for LinkedIn leads\nconst lead = $input.first().json;\nlet score = 0;\n\nif (lead.email && lead.email.length > 3) score += 20;\nif (lead.phone && lead.phone.length > 5) score += 15;\nif (lead.website && lead.website.length > 5) score += 15;\nif (lead.isDecisionMaker) score += 20;\n// LinkedIn leads get bonus for having title info\nif (lead.title) score += 10;\n\nlead.icp_score = score;\nlead.status = score >= 60 ? 'qualified' : 'low_score';\nlead.rating = 0; // LinkedIn doesn't have ratings\n\nreturn [{ json: lead }];"
            },
            "id": "calculate-icp",
            "name": "Calculate ICP Score",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json.icp_score}}",
                            "operation": "largerEqual",
                            "value2": 60
                        }
                    ]
                }
            },
            "id": "filter-qualified",
            "name": "Filter ICP >= 60",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 1,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5000/api/leads",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "save-to-backend",
            "name": "Save to APEX Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1350,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Prepare LinkedIn Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LinkedIn Query": {
            "main": [
                [
                    {
                        "node": "Scrape LinkedIn Profiles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape LinkedIn Profiles": {
            "main": [
                [
                    {
                        "node": "Calculate ICP Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate ICP Score": {
            "main": [
                [
                    {
                        "node": "Filter ICP >= 60",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter ICP >= 60": {
            "main": [
                [
                    {
                        "node": "Save to APEX Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "Scraper"
        },
        {
            "name": "LinkedIn"
        }
    ]
}