backend/n8n-workflows/03_ai_message_generator.json
{
    "name": "APEX - AI Message Generator (Gemini)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-messages",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Campaign Launch Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const campaign = $input.first().json.body;\nreturn [{\n  json: {\n    campaignId: campaign.campaignId,\n    serviceDescription: campaign.serviceDescription || 'AI-powered lead generation',\n    tone: campaign.tone || 'friendly',\n    specialOffer: campaign.specialOffer || '',\n    channels: campaign.channels || ['email', 'whatsapp']\n  }\n}];"
            },
            "id": "extract-campaign",
            "name": "Extract Campaign Config",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM leads WHERE icp_score >= 60 AND status = 'qualified' ORDER BY icp_score DESC LIMIT 50"
            },
            "id": "fetch-leads",
            "name": "Fetch Qualified Leads",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                690,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_YOUR_PG_CREDENTIAL_ID",
                    "name": "Neon APEX DB"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const campaign = $('Extract Campaign Config').first().json;\nconst leads = $input.all();\nreturn leads.map(lead => ({\n  json: { ...lead.json, campaignId: campaign.campaignId, serviceDescription: campaign.serviceDescription, tone: campaign.tone, specialOffer: campaign.specialOffer, channels: campaign.channels }\n}));"
            },
            "id": "merge-data",
            "name": "Merge Lead + Campaign",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyD_qx_122-XOIAjF8RHzeAtcg5MPr3GBy8",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: 'You are APEX — an AI Sales Intelligence Agent. Generate personalized outreach messages.\\n\\nRULES:\\n- NEVER start with Hi I am [name] from [company]\\n- NEVER use synergy, leverage, hope this finds you well\\n- Open with something specific to their business\\n- End with ONE micro-question\\n\\nWHATSAPP: Max 60 words, 4 lines, conversational.\\nEMAIL: Subject max 7 words, 4 paragraphs, soft CTA.\\nLINKEDIN: Max 50 words, zero pitch.\\n\\nLead: ' + $json.name + ' at ' + ($json.company || 'Unknown') + '\\nIndustry: ' + ($json.industry || 'General') + '\\nService: ' + $json.serviceDescription + '\\nTone: ' + $json.tone + '\\nChannels: ' + JSON.stringify($json.channels) + '\\n\\nRESPOND IN VALID JSON ONLY:\\n{\\n  \"message_whatsapp\": \"\",\\n  \"message_email_subject\": \"\",\\n  \"message_email_body\": \"\",\\n  \"message_linkedin\": \"\",\\n  \"followup_day3\": \"\",\\n  \"followup_day6\": \"\",\\n  \"followup_day10\": \"\"\\n}' }] }], generationConfig: { temperature: 0.8, maxOutputTokens: 1500, responseMimeType: 'application/json' } }) }}",
                "options": {}
            },
            "id": "gemini-generate",
            "name": "Generate with Gemini",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const lead = $('Merge Lead + Campaign').first().json;\nconst response = $input.first().json;\nconst aiText = response.candidates[0].content.parts[0].text;\nconst aiOutput = JSON.parse(aiText);\n\nconst messages = [];\nconst channelList = lead.channels || ['email'];\n\nif (channelList.includes('whatsapp') && aiOutput.message_whatsapp) {\n  messages.push({ lead_id: lead.id, campaign_id: lead.campaignId, channel: 'whatsapp', content: aiOutput.message_whatsapp, type: 'initial', status: 'pending' });\n}\nif (channelList.includes('email') && aiOutput.message_email_body) {\n  messages.push({ lead_id: lead.id, campaign_id: lead.campaignId, channel: 'email', content: JSON.stringify({ subject: aiOutput.message_email_subject, body: aiOutput.message_email_body }), type: 'initial', status: 'pending' });\n}\nif (channelList.includes('linkedin') && aiOutput.message_linkedin) {\n  messages.push({ lead_id: lead.id, campaign_id: lead.campaignId, channel: 'linkedin', content: aiOutput.message_linkedin, type: 'initial', status: 'pending' });\n}\n\nconst followups = [\n  { type: 'followup1', content: aiOutput.followup_day3, days: 3 },\n  { type: 'followup2', content: aiOutput.followup_day6, days: 6 },\n  { type: 'followup3', content: aiOutput.followup_day10, days: 10 }\n];\nfor (const fu of followups) {\n  if (fu.content) {\n    const d = new Date(); d.setDate(d.getDate() + fu.days);\n    messages.push({ lead_id: lead.id, campaign_id: lead.campaignId, channel: channelList[0], content: fu.content, type: fu.type, status: 'scheduled', scheduled_at: d.toISOString() });\n  }\n}\n\nreturn messages.map(m => ({ json: m }));"
            },
            "id": "parse-and-store",
            "name": "Parse AI & Create Messages",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO messages (lead_id, campaign_id, channel, content, type, status, scheduled_at) VALUES ('{{$json.lead_id}}', '{{$json.campaign_id}}', '{{$json.channel}}', '{{$json.content}}', '{{$json.type}}', '{{$json.status}}', {{$json.scheduled_at ? \"'\" + $json.scheduled_at + \"'\" : 'NULL'}})"
            },
            "id": "save-messages",
            "name": "Save Messages to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                1570,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_YOUR_PG_CREDENTIAL_ID",
                    "name": "Neon APEX DB"
                }
            }
        }
    ],
    "connections": {
        "Campaign Launch Trigger": {
            "main": [
                [
                    {
                        "node": "Extract Campaign Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Campaign Config": {
            "main": [
                [
                    {
                        "node": "Fetch Qualified Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Qualified Leads": {
            "main": [
                [
                    {
                        "node": "Merge Lead + Campaign",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Lead + Campaign": {
            "main": [
                [
                    {
                        "node": "Generate with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate with Gemini": {
            "main": [
                [
                    {
                        "node": "Parse AI & Create Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI & Create Messages": {
            "main": [
                [
                    {
                        "node": "Save Messages to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "AI"
        },
        {
            "name": "Gemini"
        }
    ]
}