backend/n8n-workflows/04_email_sender.json
{
    "name": "APEX - Email Sender",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "cron-trigger",
            "name": "Poll Every 5 Min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:5000/api/messages?status=pending&channel=email",
                "options": {}
            },
            "id": "fetch-pending",
            "name": "Fetch Pending Emails",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse email content (stored as JSON with subject + body)\nconst msg = $input.first().json;\nlet emailData;\n\ntry {\n  emailData = JSON.parse(msg.content);\n} catch(e) {\n  emailData = { subject: 'Quick question', body: msg.content };\n}\n\nreturn [{\n  json: {\n    messageId: msg.id,\n    leadId: msg.lead_id,\n    to: msg.lead_email || 'test@example.com',\n    subject: emailData.subject,\n    body: emailData.body\n  }\n}];"
            },
            "id": "prepare-email",
            "name": "Prepare Email Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "={{$env.GMAIL_FROM || 'your-email@gmail.com'}}",
                "toEmail": "={{$json.to}}",
                "subject": "={{$json.subject}}",
                "emailType": "text",
                "message": "={{$json.body}}",
                "options": {}
            },
            "id": "send-email",
            "name": "Send via Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                910,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "CONFIGURE_YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "APEX Gmail"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "http://localhost:5000/api/messages/={{$('Prepare Email Payload').first().json.messageId}}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "sent"
                        },
                        {
                            "name": "sent_at",
                            "value": "={{new Date().toISOString()}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "update-status",
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Add random delay (1-3 minutes) between sends to appear human\nconst delay = Math.floor(Math.random() * 120000) + 60000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn $input.all();"
            },
            "id": "human-delay",
            "name": "Human-like Delay",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                500
            ]
        }
    ],
    "connections": {
        "Poll Every 5 Min": {
            "main": [
                [
                    {
                        "node": "Fetch Pending Emails",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Pending Emails": {
            "main": [
                [
                    {
                        "node": "Prepare Email Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Email Payload": {
            "main": [
                [
                    {
                        "node": "Human-like Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Human-like Delay": {
            "main": [
                [
                    {
                        "node": "Send via Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send via Gmail": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "Email"
        },
        {
            "name": "Sender"
        }
    ]
}