backend/n8n-workflows/06_linkedin_sender.json
{
    "name": "APEX - LinkedIn Sender",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 10
                        }
                    ]
                }
            },
            "id": "cron-trigger",
            "name": "Poll Every 10 Min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:5000/api/messages?status=pending&channel=linkedin",
                "options": {}
            },
            "id": "fetch-pending",
            "name": "Fetch Pending LinkedIn",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const msg = $input.first().json;\nreturn [{\n  json: {\n    messageId: msg.id,\n    leadId: msg.lead_id,\n    linkedinProfileUrl: msg.lead_linkedin_url || '',\n    body: msg.content\n  }\n}];"
            },
            "id": "prepare-linkedin",
            "name": "Prepare LinkedIn Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// LinkedIn messaging requires either:\n// 1. LinkedIn API (requires partnership)\n// 2. Phantombuster / Expandi / similar tools\n// 3. Manual browser automation\n//\n// This node simulates the send and logs it.\n// In production, replace with your LinkedIn automation tool's API.\n\nconst payload = $input.first().json;\n\nconsole.log(`[APEX LinkedIn] Would send to: ${payload.linkedinProfileUrl}`);\nconsole.log(`[APEX LinkedIn] Message: ${payload.body}`);\n\n// Simulate success\nreturn [{\n  json: {\n    ...payload,\n    sendStatus: 'simulated',\n    note: 'Replace this node with Phantombuster/Expandi API call in production'\n  }\n}];"
            },
            "id": "send-linkedin",
            "name": "Send via LinkedIn Tool",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "http://localhost:5000/api/messages/={{$('Prepare LinkedIn Payload').first().json.messageId}}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "status",
                            "value": "sent"
                        },
                        {
                            "name": "sent_at",
                            "value": "={{new Date().toISOString()}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "update-status",
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Longer delay for LinkedIn (2-5 min) to stay under rate limits\nconst delay = Math.floor(Math.random() * 180000) + 120000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn $input.all();"
            },
            "id": "human-delay",
            "name": "Human-like Delay",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                500
            ]
        }
    ],
    "connections": {
        "Poll Every 10 Min": {
            "main": [
                [
                    {
                        "node": "Fetch Pending LinkedIn",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Pending LinkedIn": {
            "main": [
                [
                    {
                        "node": "Prepare LinkedIn Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LinkedIn Payload": {
            "main": [
                [
                    {
                        "node": "Human-like Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Human-like Delay": {
            "main": [
                [
                    {
                        "node": "Send via LinkedIn Tool",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send via LinkedIn Tool": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "LinkedIn"
        },
        {
            "name": "Sender"
        }
    ]
}