backend/n8n-workflows/07_global_reply_handler.json
{
    "name": "APEX - Global Reply Handler (Gemini)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reply-webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Inbound Reply Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json.body;\nreturn [{\n  json: {\n    leadId: data.leadId || data.lead_id,\n    channel: data.channel || 'unknown',\n    replyText: data.replyText || data.text || data.message || '',\n    leadName: data.leadName || data.from || 'Unknown',\n    company: data.company || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "normalize-reply",
            "name": "Normalize Reply Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: 'You are APEX Intent Scorer. Analyze the lead reply and score buying intent.\\n\\nSCORING:\\n+40 = Asks for call/meeting\\n+30 = Asks about price\\n+25 = Asks how it works\\n+20 = Describes current problem\\n+15 = Says interesting/tell me more\\n+10 = Dissatisfaction with current solution\\n+5 = One-word positive\\n-50 = Explicit not interested\\n\\nLead: ' + $json.leadName + ' (' + $json.company + ')\\nChannel: ' + $json.channel + '\\nTheir reply: \"' + $json.replyText + '\"\\n\\nRESPOND IN VALID JSON:\\n{\\n  \"intent_score\": 0,\\n  \"intent_level\": \"hot|warm|cold\",\\n  \"detected_signals\": [],\\n  \"objection_detected\": null,\\n  \"suggested_reply\": \"\",\\n  \"escalation_flag\": false,\\n  \"escalation_message\": \"\"\\n}' }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 500, responseMimeType: 'application/json' } }) }}",
                "options": {}
            },
            "id": "score-intent",
            "name": "Score Intent with Gemini",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const reply = $('Normalize Reply Data').first().json;\nconst response = $input.first().json;\nconst aiResult = JSON.parse(response.candidates[0].content.parts[0].text);\n\nreturn [{\n  json: {\n    leadId: reply.leadId,\n    channel: reply.channel,\n    direction: 'inbound',\n    content: reply.replyText,\n    intent_score: aiResult.intent_score,\n    escalation_flag: aiResult.escalation_flag,\n    suggested_reply: aiResult.suggested_reply,\n    intent_level: aiResult.intent_level,\n    escalation_message: aiResult.escalation_message || null,\n    leadName: reply.leadName,\n    company: reply.company\n  }\n}];"
            },
            "id": "parse-scoring",
            "name": "Parse Scoring Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO conversations (lead_id, channel, direction, content, intent_score, escalation_flag) VALUES ('{{$json.leadId}}', '{{$json.channel}}', 'inbound', '{{$json.content}}', {{$json.intent_score}}, {{$json.escalation_flag}})"
            },
            "id": "save-conversation",
            "name": "Save to Conversations DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                1130,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_YOUR_PG_CREDENTIAL_ID",
                    "name": "Neon APEX DB"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json.escalation_flag}}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-hot",
            "name": "Is Hot Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO alerts (lead_id, type, message) VALUES ('{{$json.leadId}}', 'hot_lead', '🚨 HOT LEAD: {{$json.leadName}} ({{$json.company}}) — Intent: {{$json.intent_score}}')"
            },
            "id": "create-alert",
            "name": "Create Hot Lead Alert",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                1570,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_YOUR_PG_CREDENTIAL_ID",
                    "name": "Neon APEX DB"
                }
            }
        }
    ],
    "connections": {
        "Inbound Reply Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Reply Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Reply Data": {
            "main": [
                [
                    {
                        "node": "Score Intent with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score Intent with Gemini": {
            "main": [
                [
                    {
                        "node": "Parse Scoring Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Scoring Result": {
            "main": [
                [
                    {
                        "node": "Save to Conversations DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Conversations DB": {
            "main": [
                [
                    {
                        "node": "Is Hot Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Hot Lead?": {
            "main": [
                [
                    {
                        "node": "Create Hot Lead Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "Reply"
        },
        {
            "name": "Gemini"
        }
    ]
}