backend/n8n-workflows/07_global_reply_handler.json
{
    "name": "APEX - Global Reply Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reply-webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Inbound Reply Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Normalize reply from any channel (WhatsApp, Email, LinkedIn)\nconst data = $input.first().json.body;\n\nreturn [{\n  json: {\n    leadId: data.leadId || data.lead_id,\n    channel: data.channel || 'unknown',\n    replyText: data.replyText || data.text || data.message || '',\n    leadName: data.leadName || data.from || 'Unknown',\n    company: data.company || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "normalize-reply",
            "name": "Normalize Reply Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are APEX Intent Scorer. Analyze the lead's reply and score their buying intent.\n\nSCORING RULES:\n+40 = Asks for call or meeting\n+30 = Asks about price\n+25 = Asks how it works\n+20 = Describes their current problem\n+15 = Says interesting or tell me more\n+10 = Mentions dissatisfaction with current solution\n+5  = One-word positive reply\n-50 = Explicit not interested\n\nAlso detect objections and generate a strategic response.\n\nRESPOND IN VALID JSON ONLY:\n{\n  \"intent_score\": <number 0-100>,\n  \"intent_level\": \"hot|warm|cold\",\n  \"detected_signals\": [\"list of detected buying signals\"],\n  \"objection_detected\": \"<objection or null>\",\n  \"suggested_reply\": \"<strategic reply message>\",\n  \"escalation_flag\": <true if score >= 41, false otherwise>,\n  \"escalation_message\": \"<message for owner if hot lead>\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "Lead: {{$json.leadName}} ({{$json.company}})\nChannel: {{$json.channel}}\nTheir reply: \"{{$json.replyText}}\""
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3,
                    "maxTokens": 500
                }
            },
            "id": "score-intent",
            "name": "Score Intent with AI",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                690,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CONFIGURE_YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "APEX OpenAI"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI scoring result\nconst reply = $('Normalize Reply Data').first().json;\nconst aiResult = JSON.parse($input.first().json.message.content);\n\nreturn [{\n  json: {\n    leadId: reply.leadId,\n    channel: reply.channel,\n    direction: 'inbound',\n    content: reply.replyText,\n    intent_score: aiResult.intent_score,\n    escalation_flag: aiResult.escalation_flag,\n    suggested_reply: aiResult.suggested_reply,\n    intent_level: aiResult.intent_level,\n    escalation_message: aiResult.escalation_message || null,\n    leadName: reply.leadName,\n    company: reply.company\n  }\n}];"
            },
            "id": "parse-scoring",
            "name": "Parse Scoring Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5000/api/conversations",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ lead_id: $json.leadId, channel: $json.channel, direction: 'inbound', content: $json.content, intent_score: $json.intent_score, escalation_flag: $json.escalation_flag }) }}",
                "options": {}
            },
            "id": "save-conversation",
            "name": "Save to Conversations DB",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json.escalation_flag}}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-hot",
            "name": "Is Hot Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5000/api/alerts",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ lead_id: $json.leadId, type: 'hot_lead', message: '🚨 HOT LEAD: ' + $json.leadName + ' (' + $json.company + ') — Intent Score: ' + $json.intent_score + '. Reply: ' + $json.content }) }}",
                "options": {}
            },
            "id": "create-alert",
            "name": "Create Hot Lead Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1570,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v18.0/={{$env.WHATSAPP_PHONE_ID}}/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{$env.WHATSAPP_TOKEN}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$env.OWNER_WHATSAPP_NUMBER}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"🚨 APEX HOT LEAD ALERT\\n\\n{{$json.leadName}} ({{$json.company}})\\nIntent Score: {{$json.intent_score}}\\nChannel: {{$json.channel}}\\n\\nTheir reply:\\n{{$json.content}}\\n\\n👉 Open APEX Reply Center to take over.\"\n  }\n}",
                "options": {}
            },
            "id": "alert-owner",
            "name": "Alert Owner via WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1790,
                200
            ]
        }
    ],
    "connections": {
        "Inbound Reply Webhook": {
            "main": [
                [
                    {
                        "node": "Normalize Reply Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Reply Data": {
            "main": [
                [
                    {
                        "node": "Score Intent with AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score Intent with AI": {
            "main": [
                [
                    {
                        "node": "Parse Scoring Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Scoring Result": {
            "main": [
                [
                    {
                        "node": "Save to Conversations DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Conversations DB": {
            "main": [
                [
                    {
                        "node": "Is Hot Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Hot Lead?": {
            "main": [
                [
                    {
                        "node": "Create Hot Lead Alert",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Create Hot Lead Alert": {
            "main": [
                [
                    {
                        "node": "Alert Owner via WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "APEX"
        },
        {
            "name": "Reply"
        },
        {
            "name": "Intent"
        }
    ]
}